.container {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1360px;
  }
}

@media screen and (max-width: 768px) {
    .container {
      max-width: 688px;
    }
  }

  @media screen and (max-width: 380px) {
    .container {
      max-width: 348px;
    }
  }

  
  @media screen and (max-width: 1420px) {
    body {
      margin:0 40px;
    }
  }



@media screen and (min-width: 767px) and (max-width: 769px) {
  body {
    margin:0 40px;
  }
}

@media screen and (min-width: 379px) and (max-width: 381px) {
  body {
    margin:0 auto !important;
  }
}
