#footer {
  padding-top: 96px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items:center;

  background-color: $color-border-dark;
  border-radius: 40px;
  background-size:cover;
  background-position:center;

  color: $color-text-light;
}

.footer__slogans {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 1 0 0;

  padding: 98px 0px 100px 100px;
}

.footer__h2 {
  color: $color-text-light;
}

.footer__social {
  display: flex;
  align-items:center;
  gap:10px;
}

.footer__icon {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content:center;
  align-items:center;

  border-radius: 100px;
  border: 1px solid $color-border-light;

  transition: background 0.7s;
}

.footer__contact {
  padding-bottom: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 38px;
  flex: 1 0 0;
}

.contact__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.contact__map,
.contact__tel,
.contact__time {
  display: flex;
  align-items:center;
  gap: 9px;

  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: $color-text-light;
}

.footer__svg {
  stroke: $color-border-light;
  transition: stroke 1s;
}

.footer__icon:hover .footer__svg {
  stroke: $color-text-dark;
}

.footer__icon:hover {
  background: $color-background-body;
}

.link__animation {
  position: relative;
}
.link__animation:after {

  position: absolute;
  content: '';
  bottom: -5px;
  height: 2px;
  background: $color-text-light;

  opacity: 0;
  width: 0;
  
  transition: 1s;
  left: 50%;
  transform: translate(-50%);
 
}

.link__animation:hover:after {
  opacity: 1;
  width: 100%;
}



@media screen and (max-width: 769px) {
  #footer {
    padding-top: 95px;
  }
  .footer {
    flex-direction: column;
    align-items:stretch;
  }
  .footer__slogans {
    padding: 100px 0px 96px 58px;
  }

  .footer__contact {
    padding: 3px 0px 105px 58px;
  }
}

@media screen and (max-width: 380px) {
  .footer__slogans {
    padding: 60px 0px 38px 16px;
  }

  .footer br {
    display: none;
  }

  .footer__contact {
    padding: 0px 0px 66px 16px;
  }
}

