#footer {
  padding-top: 96px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items:center;

  background-color: $color-border-dark;
  border-radius: 40px;
  background-size:cover;
  background-position:center;

  color: $color-text-light;
}

.footer__slogans {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 1 0 0;

  padding: 98px 0px 100px 100px;
}

.footer__h2 {
  color: $color-text-light;
}

.footer__social {
  display: flex;
  align-items:center;
  gap:10px;
}

.footer__icon {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content:center;
  align-items:center;

  border-radius: 100px;
  border: 1px solid $color-border-light;
}

.footer__contact {
  padding-bottom: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 38px;
  flex: 1 0 0;
}

.contact__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.contact__map,
.contact__tel,
.contact__time {
  display: flex;
  align-items:center;
  gap: 9px;

  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;

}


