.header__menu {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
  align-items:center;

  font-family: "Inter" , sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
  color:$color-text-dark;
}

.nav {
  display: flex;
}
.nav__list{
  display: flex;
  gap: 40px;
  margin-top: 7px;

}

.nav__item {
  list-style: none;
}

.nav__link {
  color:$color-text-dark;
  
}

.header__menu-link {
  display: flex;
  align-items:center;
  gap:8px;
}

.menu-link__container {
  margin-top: -7px;
}


.link__animation-header {
  position: relative;
}
.link__animation-header:after {

  position: absolute;
  content: '';
  bottom: -4px;
  height: 2px;
  background: $color-text-dark;

  opacity: 0;
  width: 0;
  
  transition: 1s;
  left: 50%;
  transform: translate(-50%);
 
}

@media (hover: hover) {
  .link__animation-header:hover:after {
    opacity: 1;
    width: 100%;
  }
}



// Hamburger Menu //

.hamburger__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  
  width: 44px;
  height: 44px;
  border-radius:100px;
  border: 1px solid $color-border-dark;

  z-index: 3;
}


.hamburger__line {
  height: 2px;
  width: 16px; 
  margin: 2px;
  background:$color-text-dark;
}

@media (hover: hover) {
  .hamburger__button:hover {
    cursor: pointer;
  }
}

@media screen and (min-width: 769px) {
  .hamburger__button  {
     display: none !important;
  }
  .menu-link__container-mobile  {
    display: none !important;
  }
 
}



@media screen and (max-width: 768px) {


  .hamburger__button  {
    margin-bottom: 7px;
  }

  .menu-link__container  {
    display: none !important;
  }

  .logo {
    z-index: 3;
  }
  .menu-link__container-mobile  {
    display: flex;
    padding-top: 42px;
    font-size: 32px;
  }
  .nav {
       position: fixed;
       top: 0px;
       right: -768px;
       background: $color-background-body;
       width: 100vw;
       height: 100vh;
       transition: 1s;
       justify-content: center;
       z-index: 2;
  }

  .nav__list {
      flex-wrap: wrap;
      gap: 49px 0;
  }

  nav.active {
      display: block;
      z-index: 2;
      right: 0px;
      transition: 1s;
    }

  header nav ul {
      display: flex;
      flex-direction: column;
      align-items:center;
      justify-content: center;
      align-content: center;
      gap: 0 40px;
      height: 100%; 
      
    }

  .nav__item a  {
      font-size: 32px;
      line-height: 51.2px;
      font-weight: 400;
  }

  .hamburger__line {
    width: 25px;
    transition: all 0.4s ease-in-out;
  }
}

.noscroll {
  overflow-y: hidden;
}
